@tailwind base;

@tailwind components;
/*** YOUR CUSTUM COMPONENTS SHOULD GO HERE ***/

.navbar {
    @apply px-4 py-2 flex justify-between flex-wrap
}

.menuIcon {
    @apply block cursor-pointer self-center mr-2
}

.menuItemsContainer {
    @apply hidden w-full text-center
}

.menuItems { 
    @apply pt-5 
}

.banner {
    @apply pb-20 px-4 flex flex-wrap justify-center
}

.btn {
    @apply w-full py-3 px-8 rounded-full font-semibold my-1
}

.btn-grey {
    @apply bg-grey text-textColor
}

.btn-purple {
    @apply bg-secondaryColor text-white
}

.owl-item > img {
    @apply max-w-5xl inline-block !important
}

.owl-prev > span, .owl-next > span {
    @apply hidden 
}

.owl-prev::before, .owl-next::before {
    background: none;
    padding: 0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "FontAwesome";
    color: #47465A;
    font-size: 70px;
    -webkit-text-stroke: 3px #FFF;
            text-stroke: 3px #FFF;
}

.owl-prev::before {
    content: "\f060";
    left: 0;
}

.owl-next::before {
    content: "\f061";
    right: 0;
}

.owl-next > span {
    @apply hidden 
}

@screen md { /* Apply these styles on medium screens and above */
    .navbar {
        @apply px-8
    }
    .menuItemsContainer {
        @apply flex flex-grow w-auto
    }
    .menuItems {
        @apply p-0 flex flex-grow justify-center
    }
    .menuIcon {
        @apply hidden 
    }
    .banner {
        @apply px-8 
    }
    .btn-grey {
        @apply mr-2
    }
}

/* Resume section */
.timeline::before {
    content: "";
    background: #47465A;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 38px;
}
.timeline-year {
    @apply w-20 h-20  bg-purple rounded-full relative float-left;
}
.timeline-year > span {
    position: absolute;
    top: 50%;
    left: 50%;
    @apply transform -translate-y-1/2 -translate-x-1/2;
}
.job {
    @apply text-headingColor2 font-bold text-3xl ml-24 block;
}
.company {
    @apply text-base text-secondaryColor font-black ml-24 block;
}
.description {
    @apply text-textColor tracking-wide text-lg font-light ml-24;
}

@screen lg {
    .job {
        @apply inline ml-8;
    }
    .company {
        @apply inline ml-3;
    }
    .timeline-year {
        @apply mr-0
    }
}
@tailwind utilities;
